
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto',sans-serif;
    color:#f9faf8;
    margin: 0;
}

.main{

    background-color: #1f2937;
    padding: 10px 0 20px;  
}

.header{
    display:flex;
    gap:36px;
    list-style-type: none;
    align-items: center;
    width:65%;
    margin: 0px auto 36px;
    padding:  10px;
    
}

/*.header li{
    width:200px;
    flex-shrink: 1;
}*/

#logo{
    margin-right: auto;
    font-size: 24px;
}
/*
#logo img{
    max-width:120px;
    height:auto;
    border-radius: 50%;

}*/

.content{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto 50px;
    /*border:2px solid red;*/
}

.img_placeholder{
    width:500px;
    height:300px;
    background-color: gray;
}
.text{
    width:40%;
    flex-shrink: 0;
}

h1{
    font-weight: 900;
    font-size: 48px;
}
.text button{
    background-color: blue;
    color: #f9faf8;
    border-radius: 10px;
    border:none;
    padding:8px 16px;
}

.info{
    color:#1f2937;
    
}

.info h1{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin:40px 0 ;
}

.photos{
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 36px;
    justify-content: space-evenly;
}

.photos .photo{
    width:200px;
    height: 290px;
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    text-align: center;
}
.photos .photo .image{
    border:3px solid blue;
    flex-grow: 1; 
    border-radius: 10px;
}


.quote{
    background-color: #e5e7eb;
    padding: 26px 0;
    margin: 120px 0;
   
    

}
.wisdom{
    width:50%;
    margin:70px auto;
    font-size: 26px;
    font-style: italic;
    padding: 20px;
    font-weight: lighter;
    
    
}

.author{
    margin-left: 70%;
}

.action{
    background-color: #3882f6;
    width:70%;
    margin: 0px auto 100px;
    color:white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    align-items: center;
    padding:29px 0px;

}

.action .text{
    flex-grow: 0;
}

p.bold{
    font-weight:900;
    font-size: large;
}

 button{
    color:#f9faf8;
    font-size: 14px;
    background-color: #3882f6;
    border-radius: 10px;
    border:3px solid #f9faf8;
    padding:8px 30px;
}

.footer{
    color: #f9faf8;
    background-color: #1f2937;
    text-align: center;
    padding: 30px;

}
